@{
    ViewData["Title"] = "Movie List";
    /*
    Tap on the menu links (MvcMovie, Home, About). Each page shows the same menu layout. 
    The menu layout is implemented in the Views/Shared/_Layout.cshtml file. Open the Views/Shared/_Layout.cshtml file.
    Layout templates allow you to specify the HTML container layout of your site in one place and then apply it across 
    multiple pages in your site. Find the @RenderBody() line. RenderBody is a placeholder where all the view-specific 
    pages you create show up, “wrapped” in the layout page. For example, if you select the About link, the 
    Views/Home/About.cshtml view is rendered inside the RenderBody method. 

    The Views/_ViewStart.cshtml file brings in the Views/Shared/_Layout.cshtml file to each view. 
    You can use the Layout property to set a different layout view, or set it to null so no layout file will be used.
    ViewData["Title"] = "Movie List"; in the code above sets the Title property of the ViewDataDictionary to 
    “Movie List”. The Title property is used in the <title> HTML element in the layout page:
     */
    }

  <h2>My Movie List</h2>

<p>Hello from our View Template!</p>