@{
    ViewData["Title"] = "About";
    //You’ll create a loop in the Welcome.cshtml view template that displays “Hello” NumTimes. 
    //Replace the contents of Views/HelloWorld/Welcome.cshtml with the following:
}

<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>